html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }
  
body {
    margin: 0;
    background: #ECE4FF;
    color: #333;
}

header {
    width: 100%;
    height: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 20px;
    background: #b9a6ffde;
}



.nav-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 25px;
    white-space: nowrap;
}

.nav-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.nav-box a:hover {
    background: #9678F5;
}



.main-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 40px;
    gap: 30px;
    justify-content: center;
}

.main-head img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.main-info {
    flex: 1;
    min-width: 300px;
}

.section-box {
    background: #B9A6FF;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}

.name1 {
    font-size: 28px;
    text-align: center;
}

.name2 {
    font-size: 20px;
    text-align: center;
}

.intro {
    font-size: 20px;
    text-align: justify;
}


.contact-wrapper { 
    width: 95%; 
    margin: 15px auto; 
}
.contact-title { 
    font-size: 28px; 
    font-weight: bold; 
    text-align: center; 
}

.contact {
    background: #B9A6FF;
    padding: 20px;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1000px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.contact-container a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 8px;
    background: #9678F5;
}
.contact-container a:hover {
    background: #B9A6FF;
    color: #333;
}



.quotes-wrapper { 
    width: 95%; 
    margin: 40px auto; 
}

.quotes-title { 
    font-size: 28px; 
    font-weight: bold; 
    text-align: center; 
}

.quotes {
    background: #B9A6FF;
    padding: 25px;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
}



.BG-wrapper { 
    width: 95%; 
    margin: 40px auto; 
}

.BG-title { 
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    text-align: center; 
}

.BG {
    background: #B9A6FF;
    padding: 30px;
    border-radius: 15px;
    font-size: 20px;
}
.edu-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 20px;
}

.edu-list li {
    margin-bottom: 25px;
}

.edu-link {
    text-decoration: none;
    color: #333;
    display: inline-block;
    transition: all 0.3s ease;
    padding: 8px 12px;
    border-radius: 10px;
}

.edu-link h3 {
    margin: 0;
    font-size: 28px;
    text-decoration: underline;
}

.edu-link:hover {
    background-color: #9f87f6cf;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    color: #000;
}

.edu-list h4 {
    margin: 5px 0px 0px 12px;
    font-size: 24px;
    color: #2a2929;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 95%;
    margin: auto;
}

.left-column, .right-column {
    flex: 1;
    min-width: 300px;
}

.box-wrapper { 
    margin-bottom: 30px; 
}
.box-title { 
    font-size: 24px; 
    margin-bottom: 10px; 
}
.box, .tall-box {
    background: #B9A6FF;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.hover-area { 
    list-style: none; 
    padding: 0; 
}
.hover-item {
    position: relative;
    margin-bottom: 15px;
}
.popup {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    background: #ECE4FF;
    border: 1px solid #9678F5;
    padding: 10px;
    border-radius: 10px;
    display: none;
    margin-top: 5px;
    z-index: 999;
    text-align: justify;
}
.popup img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}
.hover-item:hover .popup { 
    display: block; 
}

.exp-wrapper { 
    width: 95%; 
    margin: 40px auto; 
}
.exp-title { 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
}

.exp-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.exp-box {
    background: #B9A6FF;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}

.exp-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
}

.un{
    text-decoration: underline;
    font-size: 24px;
}

.vertical-line {
    width: 2px;
    align-self: stretch;
    background: black;
  }

  .horizontal-line {
    width: 97%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
  }



footer {
    background: #B9A6FF;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 50px;
}

.top {
    width: 70px;
    height: 70px;
    background: #9678F5;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    cursor: pointer;
}